<h1 >ATF   <STRONg id="home1" class="estilo-glorioso">|EL GLORIOSO|</STRONg></h1>
<img class="img-home" src="../../../assets/images/extra/romano.png" alt="">
<HR>

<H2 class="estilo-glorioso">La nueva era comienza...</H2>
<br>
<h2><strong class="estilo-glorioso">ANA ESFENOIDES Ganadora ATF 2024</strong> </h2>

 <!-- <img id="img-home" src="https://i.imgur.com/yrz2Lk2.jpeg" alt="Imagen de inicio">   -->
<BR>



<img src="https://raw.githubusercontent.com/RLG94/ATF/gh-pages/assets/images/home.jpg" alt="ImageHOME" id="imgHome">

<p>Empezamos en Junio 2025, estamos trabajando en la web...</p>






<!-- Comando para desplegar la web en el servidor -->
<!--  ng deploy --base-href=https://rlg94.github.io/ATF/  -->