<h1>ATF IX EDICIÓN<STRONg id="home1">-EL ANARKISTA-</STRONg></h1>
<HR>

<H2>HA COMENZADO!</H2>
<br>
<h2><strong id="home2">La GALA ATF para kuando</strong> </h2>

<!-- <img id="img-home" src="https://imgur.com/L3bZUJZ.jpg" alt="Imagen de inicio">  -->
<BR>



<img src="https://raw.githubusercontent.com/RLG94/ATF/gh-pages/assets/images/home.jpg" alt="ImageHOME" id="imgHome">

<p>Summer is here</p>






<!-- Comando para desplegar la web en el servidor -->
<!--  ng deploy --base-href=https://rlg94.github.io/ATF/  -->