
 <h1>Ranking de participantes</h1>
 <hr>
 <h3>Cada participante dispone de 1 invitación. Ganadores tienen 1 extra</h3>
 <p>Ranking actualizado a 12 de Agosto</p>
 
  <form id="busqueda-form" class="d-flex" role="search">
      <input class="form-control me-2 p-2" type="search" id="searchPlayer" [(ngModel)]="textoBusqueda" name = "textoBusqueda" placeholder="Buscar Concursante" aria-label="Search">
      <button id="btn-buscar" class="btn" (click)="buscarUsuario()" type="submit">Buscar</button>
      <button id="btn-limpiar" class="btn btn-outline-warning" styles="width:10px" (click)="limpiarFiltro()" type="submit">Limpiar</button>
  </form>
  <hr>
  <!-- <button (click)="clonarObjetoConLodash()">Clonar</button> -->
  <!-- <button (click)="confirmarDiferencias()">Confirmar</button> -->

  <table *ngIf="!mostrarTable">
    <thead>
      <tr>
        <th (click)="ordenarPorPuntis()">Puesto</th>
        <th (click)="ordenarPorNombre()">Nombre</th>
        <th (click)="ordenarPorPuntis()">Puntos</th>
        <th>Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarioEncontrado; let i = index">
        <td [ngStyle]="usuario.posicion != null ? getStyle(usuario.posicion) : {}">{{ usuario.posicion }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.puntis }}</td>
        <td style="width: 2vh;"><img style="width: 60%;border-radius: 16px;" src="{{usuario.imagen}}" alt="">
        </td>
      </tr>
      
    </tbody>
  </table>
  <table *ngIf="mostrarTable">
    <thead>
      <tr>
        <th (click)="ordenarPorPuntis()">Puesto</th>
        <th (click)="ordenarPorNombre()">Nombre</th>
        <th (click)="ordenarPorPuntis()">Puntos</th>
        <th>Foto</th>
      </tr>
    </thead>
    <tbody>
      
      <tr class="inactive" *ngFor="let usuario of usuarios; let i = index">
        <td style="width:2vh" [ngStyle]="usuario.posicion != null ? getStyle(usuario.posicion) : {}">{{ usuario.posicion }}</td>
        <td>{{ usuario.nombre }} <i *ngFor="let icono of generarArray(usuario.ganador)" class="fas fa-trophy"></i></td>
        <td>{{ usuario.puntis }} </td>
        <td style="width: 5vh;"><img style="width: 110%;border-radius: 16%; margin: -5px -10px; padding: -5px;max-height: 36px;" src="{{usuario.imagen}}" alt="">
        </td>
     
      </tr>
    </tbody>
  </table>
  

