<h1 class="titulo-logro">DESFASE</h1>
<h2 class="subtitulo-logro">Logros reservados para los más tryhards...</h2>


<div>
<img src="../../../../assets/images/logros/backgrounds/desfase.jpg" alt="Maria Selgas Image Desfase" class="img-background-logros">
<div class="overflow-logros">
    <div class="icono-logros logro1"></div>
    <div class="icono-logros logro2"></div>
    <div class="icono-logros logro3"></div>

</div>
<p class="firma">Diseño original de María Selgas</p>

</div>

<button [routerLink]="['/logros']" routerLinkActive="router-link-active">Volver</button>