<body>
    


<div id="rulesNow">






<h2>La normativa de este año es similar a la de ediciones anteriores con un cambio relevante respecto a las Fiestas Oficiales y Fiestas No Oficiales</h2>
<hr>
<p>En esta edición, se establecerán de forma previa y acordada por la comunidad, una lista de Fiestas Oficiales que otorgarán <strong>3 puntos</strong> y todas las demás fiestas y celebraciones pasarán a ser Fiestas No Oficiales, otorgando <strong>1 punto</strong></p>
<p>Para puntuar, como siempre, se deben cumplir estas dos condiciones así como subir una foto al grupo de WhatsApp ¨ATF X El Glorioso¨.</p>
<ul>
    <li>Quedarte en la fiesta hasta las  2am como minímo</li>
    <li>Ser como mínimo 4 integrantes ATF en el grupo de fiesta en cuestión</li>
</ul>

<h2>Entonces ¿Cuáles son las Fiestas Oficiales?</h2>
<ul>
    <li>San Juan</li>
    <li>Festival de Ortigueira</li>
    <li>Fiestas del Apóstol</li>
    <li>Fiestas de María pita </li>
    <li>As covas de Vilamartín</li>
    <li>Festa da maruxaina</li>
    <li>Fiesta del Agua</li>
    <li>Fiesta de la Dorna</li>
    <li>Romería vikinga de Catoira</li>
    <li>Festa da Istoria</li>
    <li>Los caneiros</li>
    <li>Festa da Carballeira</li>
    <li>Fiesta medieval de Betanzos</li>
    <li>Fiestas del Cristo del Barco de Valdeorras</li>
    <li>Feria Franca de Pontevedra</li>
    <li>O Marisquiño</li>
    <li>Festa dos países de Larouco</li>
    <li>Feria Medieval de A Coruña</li>
    <li>Festa da pataca de Coristanco</li>
    <li>Festa del Albariño</li>
    <li>Rapa das Bestas de Sabucedo</li>
</ul>
Nota: Esta lista aún está abierta
    
<hr>

<H2>LOS LOGROS</H2>
<p>Con el ATF X El Glorioso llega una nueva implementación que son los logros. Unas hazañas específicas que pueden completarse durante la competición. 
    El sistema es sencillo, cualquiera puede obtener el logro que quiera demostrando que lo ha hecho mediante foto /video/ aprobación de los demás miembros etc , según requiera cada logro. 
    En caso de duda el administrador decidirá en última instancia.
    <br>
    Los logros se dividen en 4 categorías distintas y cada una tiene 3 niveles de dificiltad:
    <li>Primera fila, logros sencillos. Completarlos todos otorga <strong>1 punto ATF</strong></li> 
    <li>Segunda fila, logros intermedios. Completarlos todos otorga <strong>2 puntos ATF</strong></li> 
    <li>Última fila, logros imposibles. Completarlos todos otorga <strong>3 puntos ATF</strong></li> 
 <br>
 Es decir, si por ejemplo un participante consigue todos los logros de la sección CONQUISTA, tendría un total de 6 puntos ATF extra por sus hazañas además de poder seguir consiguiendo los de las demás categorías también. 


</p>



<hr>
<p style="font-weight: bolder;">Información adicional <i class="fa-solid fa-circle-info"></i></p>
<ul id="listaInfo">
    <li>Sistema de invitaciones: Todos 1, ganadores atf tienen 1 extra (no acumulable)</li>
    <li>Necesario convocar antes de las 8pm</li>
    <li>En total completar todos los logros otorgaría 24 puntos ATF, pero eso es imposible...</li>
</ul>




</div>


</body>
