<body>
    


<div id="rulesNow">
<header>

<h1 id="title"> Esta sección está <strong> en proceso de desarrollo</strong> permaneced atentos... </h1>
</header>

<hr>
<h2>La normativa ATF en este año se controlará de forma  <strong id="strgA">MUY RIGUROSA</strong></h2>

<!--  
<h2>La única corriente vigente en este ATF será el <strong id="strgB"><DEL>PUTO</DEL> ANARKISMO</strong>,pero...<br><br>¿En qué consiste esto?</h2>
<hr>
<p>Toda la normativa aplicada hasta ahora año tras año queda completamente <strong id="strgC">revocada</strong> y en esta edición especial 
     las bases de puntuación serán muchísimo más simples:</p>
<ul>
    <li>Quedarte en la fiesta hasta las <strong id="strgD"><del>jodidas</del></strong> 2am como minímo</li>
    <li>Ser como mínimo 4 <strong id="strgE"><del>envarillaos</del></strong> integrantes ATF en el grupo de fiesta en cuestión</li>
</ul>
<p>Todo individuo que desee puntuar solo debe cumplir estas dos condiciones así como subir una foto al grupo de WhatsApp ¨ATF IX El anarkista¨. <strong id="strgF"><del>y a tomar por kulo</del></strong></p>

<h2>Pero...¿Y si surge discordia?</h2>
<p> Bueno, en caso de existir duda sobre otro miembro o alguien quiere poner en entredicho algún tipo
    de mala práctica, la resolución del conflicto pasará a través de una <br><i class="fa-solid fa-users"></i> <strong id="strgG"> Asamblea Komunal</strong>,<br> formada por todos los integrantes ATF(que deseen participar en ese momento) valiendo la opinión de todos ellos lo mismo <br> <br> <i class="fa-solid fa-exclamation"></i> (En los casos de empate con 5 votos a favor y 5 en contra por ejemplo, la impugnación gana)</p>
<hr>
<div>
<h2><strong>Boletin Oficial Asambleario</strong> (BOA): </h2>
<ul class="BOA">
    <li><b>Art 12.05.24.001</b> No existe distinción entre <b>F.O.</b> y <b>F.N.O.</b> a nivel puntuación. Todas UN (1) punto. Res. 9-3 a favor de igualar puntos</li>
    <li><b>Art 03.06.24.002</b> El ejercicio del TuKulo está vetado durante el período ATF. Se aplicarán <b>DURAS RESTRICCIONES</b>a aquellos que Kuleen. Res.1-7-9 a favor de penas estrictas </li>
    <li><b>Art 27.06.24.003</b> No se perdonarán los TuKulo <b>no-intencionados</b> o propiciados por el desconocimiento de la ley. Res. 11-13 en contra de perdonarlos</li>
    <li><b>Art 04.07.24.005</b> No se considera válido convocar con <b>antelación al propio día</b>, ni convocar de forma ilimitada o indiscriminada. Res 3-7-0 en contra de convocatorias que no sean en el día</li>
</ul>

</div>


<hr>
<p style="font-weight: bolder;">Información adicional <i class="fa-solid fa-circle-info"></i></p>
<ul id="listaInfo">
    <li>Sistema de invitaciones: Todos 1</li>
    <li>Necesario convocar antes de las 8pm</li>
</ul>
-->



</div>


</body>
