<body>
    


<div id="rulesNow">
<header>

<h1 id="title"> Vaya, parece que <strong> EL ANARKISMO HA OKUPADO</strong> este espacio... </h1>
</header>

<hr>

<h2>La normativa ATF en esta edición especial ha sido drásticamente modificada, rompiendo por completo todo el <strong id="strgA">sistema tradicional</strong></h2>

<h2>La única corriente vigente en este ATF será el <strong id="strgB"><DEL>PUTO</DEL> ANARKISMO</strong>,pero...<br><br>¿En qué consiste esto?</h2>
<hr>
<p>Toda la normativa aplicada hasta ahora año tras año queda completamente <strong id="strgC">revocada</strong> y en esta edición especial 
     las bases de puntuación serán muchísimo más simples:</p>
<ul>
    <li>Quedarte en la fiesta hasta las <strong id="strgD"><del>jodidas</del></strong> 2am como minímo</li>
    <li>Ser como mínimo 4 <strong id="strgE"><del>soplapollas</del></strong> integrantes ATF en el grupo de fiesta en cuestión</li>
</ul>
<p>Todo individuo que desee puntuar solo debe cumplir estas dos condiciones así como subir una foto al grupo de WhatsApp ¨ATF IX El anarkista¨. <strong id="strgF"><del>y a tomar por kulo</del></strong></p>

<h2>Pero...¿Y si surge discordia?</h2>
<p> Bueno, en caso de existir duda sobre otro miembro o alguien quiere poner en entredicho algún tipo
    de mala práctica, la resolución del conflicto pasará a través de una <br><i class="fa-solid fa-users"></i> <strong id="strgG"> Asamblea Komunal</strong>,<br> formada por todos los integrantes ATF(que deseen participar en ese momento) valiendo la opinión de todos ellos lo mismo <br> <br> <i class="fa-solid fa-exclamation"></i> (En los casos de empate con 5 votos a favor y 5 en contra por ejemplo, la impugnación gana)</p>

</div>

<div id="oldRules">


</div>



</body>