<body>
    

<h1>Calendario de Eventos ATF 2024</h1>
<p>Aunque en esta edición ATF <strong id="strg10">El Anarkista</strong> se ha establecido que las Fiestas Oficiales
     no tienen un sistema de puntuación específico y no difieren de otras fiestas, aquí se enumeran los eventos más relevantes del verano. </p>
<hr>

<div class="fiesta">
<h2>San Juan</h2>
<h3>Domingo 23 de Junio</h3>
<p>El pistoletazo de salida del ATF. La competición comienza justo en el inicio del verano y esta fiesta es destacable ya no por el comienzo del ATF si no por la relavancia multitudinal que tiene en A Coruña. Quemar madera saltarla y comer sardinas, un clásico. </p>
<img src="https://www.spain.info/.content/imagenes/cabeceras-grandes/eventos-fiestas/galicia/Hogueras-de-San-Juan-c-Xose-Castro.jpg" alt="">
<hr>
</div>

<div class="fiesta">
    <h2>Festival de Ortigueira</h2>
    <h3>Semana del 11 de Julio</h3>
    <p>El evento más largo y emblemático de todo el verano. Para muchos la mejor fiesta, sin duda una de las más duras. Resistir frente al cansacio, el derretimiento cerebral y la porquería es
        una tarea dura que sin duda es recompensada con los momentos más únicos que se pueden experimentar gracias a este micromundo que se genera durante su transcurso. Una desconexión total de la civilización.</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSG7rcGZH0TMGTY4JFqVtBevBLYzezT5r4Az7H86OoU8A&s" alt="">
    <hr>
</div>

<div class="fiesta">
    <h2>Os Caneiros</h2>
    <h3>18 de Agosto</h3>
    <p>Antaño una agradable romería popular protagonizada por los habitantes de Betanzos en donde salían al campo a disfrutar de un picnic y recorrer el río en comunidad...Hoy en día un campo de batalla
        sin piedad ni tregua. Hordas de jóvenes se disparan vino barato de forma indiscriminada hasta que caen borrachos o quedan sin existencias. Hay que vivirlo. Recomendable llevar un émbolo. O VARIOS! </p>
    <img src="https://www.elidealgallego.com/images/showid2/3879918?w=900" alt="">
    <hr>
</div>

<div class="fiesta">
    <h2></h2>
    <h3></h3>
    <p></p>
    <img src="" alt="">
    <hr>
</div>

<div class="fiesta">
    <h2></h2>
    <h3></h3>
    <p></p>
    <img src="" alt="">
    <hr>
</div>

</body>