<h1 id="premios-titulo"><b>Premios ATF 2025 X edición </b> <strong class="estilo-glorioso">El Glorioso</strong></h1>

<div id="copas">
<div id="ganador">
<h1 id="campeon1">Campeón ATF</h1>
<p>Obtenido al quedar en primera posición al cerrar el ATF. Incluye un trofeo grabado que recordará tu hazaña para siempre, una copa digital al lado de tu nombre en el ránking, el título asociado al ATF que has ganado y por supuesto la gloria y respeto extremo del grupo por siempre. Ganas además 1 invitación extra para futuros años. </p>
</div>
<h1 id="campeon2">2ºPuesto</h1>
<p>El segundón ATF. Admirado, pero no recordado. Incluye trofeo grabado para revivir el momento en el que estuviste a punto, pero no. Un regusto agridulce.</p>

<h1 id="campeon3">3ºPuesto</h1>
<p>Has jugado duro. Has festejado mucho. Mereces saberlo, pero también mereces saber que puedes dar un poco más para la próxima. Incluye trofeo grabado y sacarte foto con el campeón.</p>
<hr>
</div>

<div id="medallas">
<h2><b>Medallas honoríficas</b></h2>
<p>Las medallas son títulos especiales que se conceden a los participantes cuando realizan ciertas hazañas o tienen conductas destacables. No todas se entregan todos los años pero aquí están algunos ejemplos reseñables: </p>
<br>
<div id="honesto">
<h1>El Honesto</h1>
<p>Entregado al participante que haya demostrado más deportividad, juego limpio y velado por la fiesta verdadera por encima de todo. Un título tan respetado como difícil de obtener. </p>
</div>
<div id="buitre">
<h1>El Buitre</h1>
<p>El antagonista del Honesto. Entregada al concursante mas sucio, zafio y que se haya valido de más tretas y artimañas para pisar a otros o puntuar él por encima de todo, siempre con dudosa moralidad.</p>
</div>
<div id="sacrificado">
<h1>El Sacrificado</h1>
<p>Entregada a aquel concursante que haya realizado el mayor sacrificio personal en pro de irse de fiesta. Abandonar un trabajo, vender sus posesiones...</p>
</div>
<div id="manana">
<h1>El mañaneos</h1>
<p>El concursante que solo se va a dormir cuando sale la luz del sol. No queda nada que rascar , pero el ahí sigue, en tu sofá enchufándose youtube y partiendo otro unicornio.</p>
</div>
<div id="carretera">
<h1>El Correcaminos</h1>
<p>Reconoce el esfuerzo de aquel que ha devorado mas Kilómetros en todo el verano para poder ir a fiestas. Tu mecánico patrocina esta medalla.</p>
</div>
<div id="revelacion">
<h1>El Fiestero revelación</h1>
<p>Entregada generalmente a un participante que ha entrado este año y lo ha hecho como debe ser, pisando fuerte. También se puede entregar a un participante veterano que llevase años en perfil bajo y haya renaciado.</p>
</div>
<div id="antisistema">
<h1>El Antisistema</h1>
<p>Medalla entregada a aquel que haya abrazado más fuerte el anarkismo como espíritu competitivo. Dar dar dar recibir recibir inkautar inkautar konsumir konsumir... </p>
</div>
<hr>
</div>