:root{
    --text-color:#000000;
    --main-color:#187db8;
    --secondary-color:#cc8b1b;
    --blue-black:#09234b;
    --golden-black:#7D5208;
    --red-carmesi:#8d081a;
    --golden-white:#dac7a6;
   
   
}
.estilo-glorioso {
  color: var(--text-color);
  text-shadow: 1px 1px 5px rgb(255, 255, 255);
  font-family: "Cinzel", serif;
  font-weight: 800;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

#img-home{
    height: 190px;
    width: 260px;
    border: 2px var(--red-carmesi) solid;
    border-radius: 55%;
    margin-bottom: 6%;
}
:root {
    background-color: var(--blue-black);
    font-family: "sedan SC", serif !important;
    position: relative;
    
    
}



:root h1 {
   display: flex;
   flex-direction: column;
   line-height: 38px;
    font-size: 23px;
    color: var(--text-color);
    letter-spacing: 0.9vw;
    font-weight: 800;
    font-family: "sedan SC", serif;
    
    text-shadow: 1px 1.5px 3px var(--golden-white);
}
:root h2 {
    font-family: "Cinzel", serif;
    color:var(--golden-white);
   text-shadow: 1px 1px 1px var(--golden-white);
}
:root h3 {
    font-family: "sedan SC", serif;
    color:var(--secondary-color);
    text-shadow: 1px 1px 8px rgb(41, 2, 2);
}
:root p{
    color: var(--golden-white);
    text-shadow: 1px 1px 1px rgb(44, 37, 37);
}


/* DISPLAY NAVBAR */

#generalNavigation{
    
    background-color: var(--secondary-color);
    
    border-bottom: 4px solid var(--red-carmesi);
}
.navbar-toggler{
    
    background-color: var(--blue-black);
    border: 3px solid var(--golden-white);
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23C49644' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.navbar-brand{
    color: var(--blue-black);
    display: flex;
    position: relative;
    flex-direction: row;
    font-weight: 800;
    font-family: "Sedan SC", serif;
    
    
    font-weight: bolder;
    flex-wrap:nowrap;
    top: -3px;
}
#logrosNav{
    display: flex;
   
}
#botonMenu{ 
   position: absolute;
   left: 77vw;
   height: 6vh;
}
#p1{
    font-size: 35px;
    margin-top: -11px;
    color:var(--golden-black);
    font-weight: 900;
    margin-left: 55px;
    -webkit-text-stroke: 0.1px rgba(193, 184, 155, 0.219);
}
#imgNew{
    margin-left: 5%;
    width: 13%;
    height: 10%;

}

#p1,#p2{
   
    text-shadow: 0px 0px 2px rgb(253, 249, 255);
    
}
#p3{ position: relative;
     top: 44px;
     right: 39%;
     font-size: larger;
     color: var(--text-color);
     text-shadow: 2px 2px 2.5px rgb(255, 255, 255);
     font-family: "Cinzel", serif;
     font-weight: 800;
}
#p3 i{
font-size: 88%;
color: var(--golden-white);
}

.navbar-brand img {
    width: 55px;
    height: auto;
   
    margin-right: 5px;
  
}



.dropdown-menu strong{
    color: rgb(63, 38, 6);
    text-shadow: 0px 0px 5px rgb(212, 212, 212);
    font-family: "cinzel" serif;
    font-size: larger;
    margin-left: 19px;

}


.libro{
    font-size: 175%;
    text-shadow: none;
    color: var(--golden-black)
}

.nav-link {
    font-weight: 800;
    font-family: "Sedan SC", serif;
}

.unstyled-link {
    color: inherit;
    text-decoration: none;
    cursor: none;
    
}


/* SECTION DISPLAY*/
body{
    background-color: var(--red-carmesi);
    
    
    
}
section{
    position: relative;
    display: flex;
    text-align: center;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    font-family: "sedan SC", serif !important;
    border-left:10px double var(--secondary-color) ;
    border-right:10px double var(--secondary-color) ;
    padding-top: 15px;
    width: 90%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 8%;
    background: var(--red-carmesi);
    border-bottom:10px double var(--secondary-color) ;
   
}
#rulesNow{
    background: var(--red-carmesi);
    
}
li{
    font-family: "sedan SC", serif;
}
#rulesNow h1{
    
    padding-left: -10px;
    padding-right: -10px;
    margin-left: -17px;
    margin-right: -17px;

    
}
section strong{
     font-family: "cinzel" ,serif;
}

/* Seccion REGLAMENTO */

#rulesNow #title strong{
    color: rgb(209, 196, 181);
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.893);
}
#strgA{
    color: rgb(252, 206, 153);
    text-shadow: 2px 2px 4px rgb(42, 38, 38);
}
#strgB{
    color: rgb(255, 90, 90);
    text-shadow: 2px 2px 6px rgb(221, 0, 255);
}
header i{
    color: rgba(241, 255, 85, 0.944);
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.893);
}
#strgC{color: rgb(0, 0, 0);
    text-shadow: 1px 2px 3px rgb(255, 0, 0);

}
#strgD{color: rgb(56, 194, 58);
    text-shadow: 1px 2px 3px rgb(69, 96, 98);
    
}
#strgE{color: rgb(0, 13, 255);
    text-shadow: 1px 2px 3px rgb(106, 159, 164);
    
}
#strgF{
    color: rgb(243, 179, 179);
    text-shadow: 1px 2px 3px rgb(23, 1, 102);
    
}
#strgG{
    color: rgb(208, 54, 54);
    text-shadow: 1px 2px 3px rgb(0, 0, 0);
}

#listaInfo{
    font-family: "sedan SC", serif;
    
  padding-bottom: 20px;
    width: 90%;
}


/* Footer */
.wrapper {
    min-height: 100VH;
    position: relative;
    padding-bottom: 32px;
    background-color: var(--blue-black);
  }

footer{
    background-color: var(--secondary-color);
    border-top: 4px solid var(--red-carmesi);
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    position:absolute;
    bottom: 0%;
    height: 32px;
    width: 100%;
    flex-wrap: nowrap;
 
    
}
footer p{
    margin-top: 1%;
    text-align: center;
    font-size: smaller;
     color: var(--blue-black) !important;
    font-family: "Sedan SC", serif;
    font-weight: 900;
    -webkit-text-stroke: 0.1px rgba(193, 184, 155, 0.219);
    text-shadow: 0px 0px 0.5px rgb(248, 244, 244) !important;
    padding-left: 1.5%;
    padding-right: 1.5%;
    
   
    
    
}
footer strong{
    color: var(--text-color);
     text-shadow: 1px 1px 5px rgb(224, 223, 223);
     font-family: "cinzel", serif;
     font-style: bold;
     font-size:xx-small;
}
footer #sep{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
footer p{
    color: var(--blue-black);
}



/* HOME */

#imgHome{
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 6px solid rgb(199, 184, 136);
    border-radius: 3px;
}



.img-home{
    width:100%;
filter: brightness(3.9) contrast(2) saturate(2) hue-rotate(35deg);
}





/* TABLE RANKING */

#btn-buscar{
    background-color: var(--blue-black);
    border: 3px solid var(--golden-white);
    color: var(--golden-white);
    margin-right: 6px;
    transition: all 0.5s;
    
}


#btn-limpiar{
    background-color: var(--blue-black);
    border: 3px solid var(--golden-white);
    color: var(--golden-white);
    transition: all 0.5s;
    
}
#btn-buscar:active{
    transform: scale(1.4);
    background-color: var(--red-carmesi);
}

#btn-limpiar:active{
    transform: scale(1.4);
    background-color: var(--red-carmesi);
}
#busqueda-form input::placeholder{
    font-size: 2.6vw;
    color: #410852;
    font-weight: 800;
   width: 110%;
    
}
#busqueda-form input{
    background-color: #b795c2;
    border:2px solid var(--blue-black);
}

table{
    border: 5px solid var(--blue-black);
    width: 100%;

}
td {
    border: 1px solid var(--blue-black);
    padding: 8px;
    text-align: center;
    color:var(--text-color);
    font-weight: 700;
    background-color:#f6ecda;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.5) 75%), linear-gradient(45deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 75%, rgba(255, 255, 255, 0.5) 75%);
    background-size: 6px 6px;
}

thead {
   background-color: var(--blue-black);
   line-height: 25px;
   border-bottom: 3.5px solid var(--blue-black);
   color: var(--golden-white);
   font-weight: 200;
}
@keyframes shine {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}



/* EVENTS CALENDAR SECTION */
.fiesta{
    font-family: "Sedan SC", serif;
}
p{
    font-family: "Sedan SC", serif;
}
hr{
    color: var(--golden-white);
}
.fiesta a{
    text-decoration: none;
    color: var(--blue-black);
}
.fiesta h3{
    font-family: "Sedan SC", serif;
    font-size: large;
    font-weight: 600;

}
#temporal{
    padding-top: -11px;
    margin-top: -11px;
    font-size: smaller;
}
.fiesta h2{
    font-family: "Sedan SC", serif;
    font-size: x-large;
    font-weight: 500;
   
    color: var(--golden-white);
    text-shadow: 0px 1px 4px var(--blue-black);
    width: 70%;
    margin: 0px auto;
    margin-bottom: 3%;
}
.fiesta h4{
    border-radius: 3px;
   position: relative;
   top: -4px;
    font-family: "Sedan SC", serif;
    background-color:var(--golden-white);
    width: 30%;
    margin: 0px auto;
    font-size: small;
    max-width: 250px;
}
.fiesta img{
    width: 75%;
    border: 4px solid var(--golden-white);
    border-radius: 5px;
    margin-top: 10px;
   
    max-width: 400px;
    
}
#strg10{
    color: var(--text-color);
     text-shadow: 2px 2px 3px rgb(128, 255, 0);
}
/* PRIZES*/
#copas p,#medallas p{font-size: large;
    
}
#premios-titulo{
    text-shadow: 1px 1px 2px #eabe726f;
    margin-top: 3%;
    margin-bottom: 10%;
}
#ganador{
    position: relative;
    width: 100%;
    
}
#ganador::before {
    content: '';
    background-image: url('../images/luz.png');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center; 
    opacity: 0.25; 
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    margin-bottom: 2%;
}

#ganador > * {
    position: relative;
    z-index: 1;
}

#campeon1{
    text-shadow: 1px 1px 5px rgb(255, 194, 10) !important;
}
#campeon2{
    text-shadow: 1px 1px 5px rgb(197, 197, 197) !important;
}

#campeon3{
   
    text-shadow: 1px 1px 4px rgb(246, 129, 4) !important;
}

#honesto{
    position: relative;
    width: 100%;
    
}
#honesto::before {
    content: '';
    background-image: url('../images/Medals/honesto.png');
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: center; 
    opacity: 0.17; 
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    bottom: -10%;
    z-index: 0;
   
}
#buitre{
    position: relative;
    width: 100%;
    
}
#buitre::before {
    content: '';
    background-image: url('../images/Medals/buitre.png');
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: center; 
    opacity: 0.17; 
    position: absolute;
    top: -10%;
    left: 0;
    right: 0;
    bottom: -10%;
    z-index: 0;
   
}
#sacrificado{
    position: relative;
    width: 100%;
    
}
#sacrificado::before {
    content: '';
    background-image: url('../images/Medals/sacrificado.png');
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: center; 
    opacity: 0.17; 
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    bottom: -20%;
    z-index: 0;
   
}
#manana{
    position: relative;
    width: 100%;
    
}
#manana::before {
    content: '';
    background-image: url('../images/Medals/manana.png');
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: center; 
    opacity: 0.17; 
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 10%;
    z-index: 0;
   
}
#carretera{
    position: relative;
    width: 100%;
    
}
#carretera::before {
    content: '';
    background-image: url('../images/Medals/correcaminos.png');
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: center; 
    opacity: 0.17; 
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: -10%;
    z-index: 0;
   
}
#revelacion{
    position: relative;
    width: 100%;
    
}
#revelacion::before {
    content: '';
    background-image: url('../images/Medals/revelacion.png');
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: center; 
    opacity: 0.17; 
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: -30%;
    z-index: 0;
   
}
#antisistema{
    position: relative;
    width: 100%;
    
}
#antisistema::before {
    content: '';
    background-image: url('../images/Medals/antisistema.png');
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: center; 
    opacity: 0.17; 
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    bottom: -20%;
    z-index: 0;
   
}

/* LOGROS GENERAL */


/* LOGROS PESTAÑAS */

.img-background-logros{
    border: solid 3px var(--blue-black);
    border-radius: 4%;
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 10px;
}


.firma{
   font-size: 1.2vh;
}



.subtitulo-logro{font-size: 96% !important;
    text-shadow: 1px 1px 1px black !important;
}

.overflow-logros{
    background-image: url("/assets/images/logros/backgrounds/desfase.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30em;
    padding: 4em 0.5em 0em 0.5em;
}
.logros-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.icono-logros{  
    background-color: #cc8b1b;
    width: 3.2em;
    height: 3.2em;
    border: 2px solid black;
    border-radius: 3px;
}
.icono-logros > img {
    width: 100%
}
.logro-obtenido {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5),
                0 0 20px 10px rgba(255, 255, 255, 0.3),
                0 0 30px 15px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.3s ease;
}
.logro-bloqueado > img {
    filter: grayscale(100%);
}
.lista-obtenido {
    font-size: smaller;
    color: var(--golden-white);
    text-shadow: 1px 1px 1px rgb(44, 37, 37);
}
.lista-obtenido ul {
    padding: 0;
}
.lista-obtenido li{
    list-style-type: none;
    padding: 0;
}

.separador {
    font-size: 1.4vh;
}
.separador p {
    width: 6em;
    margin: 0 auto 0 auto;
    background-color: #00000077;
    border-radius: 5%;
}
.separador hr {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}






















/* MEDIA QUERI COMPUTER VIEW */
@media screen and (min-width: 1068px){

footer{
    margin-bottom: -3px;
}

footer p{
    margin-top: 0%;
   
}

#ganador::before {background-image: none;}


#imgNew{
    margin-left: 2%;

    height: 55%;
    margin-bottom: none;
    padding-bottom: none;
    width: 10%;
}

.img-background-logros{
    position: relative;
    width: 60%;
}
}




















html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.detalle-logro {
    width: 100%;
    background-color: var(--red-carmesi);
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px 20px 20px 20px;
    z-index: 2000;
}

.boton-cerrar {
    background-color: transparent;
    border: none;
    color: var(--golden-white);
    width: 100%;
}