<h1>Escoge:</h1>
<button class="btn_logros" id="btn_logros_conquista" [routerLink]="['/logrosConquista']" routerLinkActive="router-link-active"><H1>CONQUISTA</H1>Proezas Geográficas</button>
<hr>
<button class="btn_logros" id="btn_logros_inspiracion" [routerLink]="['/logrosInspiracion']" routerLinkActive="router-link-active"><h1>INSPIRACIÓN</h1>Proezas Artísticas</button>
<hr>
<button class="btn_logros" id="btn_logros_olimpiadas" [routerLink]="['/logrosOlimpiadas']" routerLinkActive="router-link-active"><h1>OLIMPIADAS</h1>Proezas Físicas</button>
<hr>
<button class="btn_logros" id="btn_logros_desfase" [routerLink]="['/logrosDesfase']" routerLinkActive="router-link-active"><h1>DESFASE</h1>Proezas Tryhards</button>


