<h1>Escoge la categoría:</h1>
<div class="botonera">
<button class="btn_logros" id="btn_logros_conquista" [routerLink]="['/logrosConquista']" routerLinkActive="router-link-active"><H1>CONQUISTA</H1></button>
<hr>
<button class="btn_logros" id="btn_logros_inspiracion" [routerLink]="['/logrosInspiracion']" routerLinkActive="router-link-active"><h1>INSPIRACIÓN</h1></button>
<hr>
<button class="btn_logros" id="btn_logros_olimpiadas" [routerLink]="['/logrosOlimpiadas']" routerLinkActive="router-link-active"><h1>OLIMPIADAS</h1></button>
<hr>
<button class="btn_logros" id="btn_logros_desfase" [routerLink]="['/logrosDesfase']" routerLinkActive="router-link-active"><h1>DESFASE</h1></button>

</div>
